  services:
    oracle-auth:
      build:
        context: ./auth
      container_name: oracle-auth
      ports:
        - "8080:8080"
      env_file:
        - .env
      environment:
        DATABASE_URL: ${DATABASE_URL}
        DB_USER: ${DB_USER}
        DB_PASSWORD: ${DB_PASSWORD}
      networks:
        - backend
      depends_on:
        postgres:
          condition: service_healthy

    postgres:
      image: postgres:14
      container_name: postgres
      env_file:
        - .env
      environment:
        POSTGRES_USER: "${DB_USER}"
        POSTGRES_PASSWORD: "${DB_PASSWORD}"
        POSTGRES_DB: auth
      volumes:
        - db-data:/var/lib/postgresql/data
      networks:
        - backend
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d auth"]
        interval: 5s
        timeout: 5s
        retries: 5

    oracle-frontend:
      build:
        context: ./frontend
      container_name: oracle-frontend
      ports:
        - "3000:3000"
      environment:
        REACT_APP_API_URL: http://localhost:8080
      networks:
        - backend

  volumes:
    db-data:

  networks:
    backend:
      driver: bridge