:root {
  --bg-color: #686279;
  --container-color: #2c2638;
  --text-muted: #b1acbe;
  --accent-purple: #6d54b5;
  --input-bg: #3c364c;
  --white: #ffffff;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #686279;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90dvh;
  margin-top: 2rem;
}

.app-container {
  display: flex;
  background-color: #2c2638;
  padding: 1.2rem;
  width: 65dvw;
  height: 75dvh;
  border-radius: 25px;
}

.image-section {
  display: flex;
  width: 55%;
}

img{
  border-radius: 25px;
  width: 100%;
  height: auto;
}

.form-section {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  width: 40%;
  color: var(--white);
}

.form-header {
  margin-bottom: 2rem; 
  align-self: flex-start; 
}

.app-title {
  font-size: 2.5rem; 
  margin-bottom: 0.5rem; 
}
.app-description {
  color: var(--text-muted); 
  font-size: 0.9rem; 
}

.auth-form {
  width: 100%; 
  display: flex; 
  flex-direction: column; 
  gap: 1rem; 
}

.input-group-row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.login-form-container {
  display: flex;
}

input {
  background-color: var(--input-bg);
  color: var(--white);
  padding: 1rem;
  border: 1.5px solid transparent;
  border-radius: 10px;
  font-size: 0.9rem;
  outline: none;
}

.password-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input:focus { 
  border-color: var(--accent-purple); 
}
.full-width { 
  width: 100% !important; 
  box-sizing: border-box; 
}

.submit-button {
  background-color: var(--accent-purple);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.2s;
  margin-top: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  color: var(--text-muted);
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
  color: var(--text-muted);
  font-size: 0.8rem;
}

.divider::before, .divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #4a4458;
}

.divider span { 
  padding: 0 10px; 
}

.social-login { 
  display: flex; 
  gap: 1rem; 
  width: 100%; 
}

.social-button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: none;
  border: 1px solid #4a4458;
  color: white;
  padding: 0.6rem;
  border-radius: 10px;
  cursor: pointer;
}

.social-button img { 
  width: 18px; 
  height: 18px; 
  border-radius: 0; 
}

.link { 
  color: #9d85e0; 
  text-decoration: none; 
  font-weight: bold; 
}

.link-underlined { 
  text-decoration: underline; 
  cursor: pointer; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
